<h1> <%= @director.name %> </h1>
<h3> <p> <%= @director.id  %> </p> </h3>
<p>Name <%= @director.name  %> </p>
<p> Movie Count: <%= @director.movies.count %></p>
<p>Age <%= @director.age  %> </p>
<p>Alive <%= @director.alive  %> </p>
<p><%= link_to "Directors Movies", "/directors/#{@director.id}/movies"   %> </p>
<p><%= link_to "Update Director", "/directors/#{@director.id}/edit" %></p>
<p><%= link_to "Delete #{@director.name}", "/directors/#{@director.id}", method: :delete %></p>