<h1> <%= @director.name %> </h1>
<%
=begin%>
 <p> Movie Count: <%= @director.movies.count %></p> 
<%
=end%>
<h3> <p> <%= @director.id  %> </p> </h3>
<p>Name <%= @director.name  %> </p>
<p>Age <%= @director.age  %> </p>
<p>Alive <%= @director.alive  %> </p>
