<!DOCTYPE html>
<html>
  <head>
    <title>John's Movie Club</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <h1>John's Movie Club</h1>
  <div id="header">
  <p><%= link_to "All Movies", "/movies" %></p>
  <p><%= link_to "All Directors", "/directors" %></p>
</div>
    <%= yield %>
  </body>
</html>
